 /***************Tag Selectors***************/
body{
    font-family: Arial;
    margin: 0;
    padding: 0;
}
 /***************Class Selectors***************/
.content{
    display:none;
    color:rgb(54, 58, 61)
 }
.container{
    height:20rem;
    position: relative;
    width:100%;

}
.container .main_heading{
    bottom:0px;
    left: 10px;
    font-size: 5rem;
    font-weight:900;
    margin:0px 20px;
    color: #4f39f5;
    position:absolute;
    
}
.container  .panel{
    display:flex;
    float: left;
    height:20rem;
    width: 48%;
    margin: 1%;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: rgb(246, 250, 255);
    
}

.container  .panel img{
    height: 150px;
    width: 150px;
}
 
.container .header-background{
    background-image: url('../images/genshin1.jpg');
    height:100%;
    filter:blur(4px);
    background-color: black;
  
}


.bacon:hover{
    display:none;
}

.bacon:hover + .bacon-content{
    display: block;
}

.broccoli:hover{
    display:none;
}

.broccoli:hover + .broccoli-content{
    display: block;
}





 /***************ID Selectors***************/   
